.home-hero {
	background: url('../img/skyline.jpg') no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home-services {

}

.home-contact {

}