.container-full.home-hero {
	background: url('../img/bg.jpg') no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.home-hero-content {
		margin-top: 60px;
		margin-bottom: 60px;
		padding: 60px;
		color: #fff;
		text-align: center;
		p {
			margin-bottom: 40px;
			font-size: 24px;
		}
		a {
			padding: 10px 40px;
			font-size: 20px;
			font-weight: 700;
		}
	}
}

.container-full.home-services {
	ul {
		padding-left: 20px;
	}
}

.container-full.home-usp {
	background-color: @brand-primary;
	padding: 60px;
	color: #fff;
	p {
		font-size: 24px;
	}
}

.container-full.home-contact {
	background-color: @gray-lighter;
	padding: 40px;
	margin-bottom: 0;
	.google-maps {
        position: relative;
        padding-bottom: 25%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
	p {
		margin-top: 10px;
	}
}